*{
    padding: 0;
    margin: 0;
    background-color: #041130;
}

body{
    overflow: hidden;
    height: 100vh;
}

.taskbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    z-index: 100;
}

.startmenu{
    position: absolute;
    bottom: -655px;
    margin-left: 525px;
    transition: all 0.5s ease-in;
}

.startmenu img{
    border-radius: 8px;
}

.right{
    position: absolute;
    right: 0;
}

.icons{
    position: absolute;
    bottom:12px;
    left: 680px;
    height: 25px;
    display: flex;
    z-index: 1000;
}

.windowslogo{
    position: absolute;
    bottom:-2px;
    left: -114px;
    display: flex;
    z-index: 7000;
    width: 27px;
    height: 27px;
}

.searchmenu{
    position: absolute;
    bottom: -710px;
    margin-left: 525px;
    transition: all 0.5s ease-in;
}

.searchmenu img{
    border-radius: 8px;
    width: 660px;
    height: 640px;
}

.searchlogo{
    position: absolute;
    bottom:-2px;
    left: -69px;
    display: flex;
    z-index: 7000;
    width: 27px;
    height: 27px;
}

.edgeicon{
    position: absolute;
    width: 27px;
    margin-left: 35px;
    bottom: 11px;
}

.vscodelogo{
    position: absolute;
    width: 38px;
    margin-left: 125px;
    bottom: 10px;
}

.chromeicon{
    position: absolute;
    width: 31px;
    margin-right: 138px;
    bottom: 9px;
}

.storeicon{
    position: absolute;
    width: 28px;
    margin-left: 300px;
    bottom: 11px;
}

.pageicon{
    position: absolute;
    width: 23px;
    margin-left: 215px;
    bottom: 13px;
}